NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
CLOUDINARY_CLOUD_NAME=notcmjfs
CLOUDINARY_API_KEY=258952896279593
CLOUDINARY_API_SECRET=QecRn-xFMdwLthR97BXnsNSWISU
